{% extends 'NalbashgroupNalbashBundle:Default:index.html.twig' %}
{% block title %}
- new
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header %}
- new
{% endblock %}
{% block body %}
    <h1>Coin creation</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}


{% endblock %}
